language: android
dist: trusty
android:
  components:
    - build-tools-29.0.2
    - android-29
    - extra
jobs:
  include:
    - stage: build
      name: "Build"
      script: ./gradlew build
    - stage: test
      name: "Test"
      script: ./gradlew test
